
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
body{
    font-size:20px;
}
.app{
    background-color: #ffe4e1;
    min-height:250px;
    align-items: center;
    overflow: hidden;
    margin:40px auto;
  width: 50%;
  border: 1px solid black;
  padding: 50px;
  border-radius:20px;
    
}
hr{
    border:1px solid black;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    margin:0;
}
#answer-btn{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.btn{
    background-color: white;
    margin : 10px 0;
    padding:20px ;
    border-radius: 10px;
    text-align: left;
    width:100%;
}
.btn:visited{
    background-color: rgb(154, 148, 148);
}
.btn:hover:not([disabled]){
    background-color: rgb(192, 182, 182);
}
.btn:disabled{
    cursor:no-drop;
}
.btn:Active{
    background-color:rgb(154, 148, 148);
}
#next-btn{
    background-color:rgb(36, 36, 36);
    color: white;
    padding: 10px;
    border-radius:10px;
   width:50%;
   font-size: 20px;
  display:block;
  margin:auto;
}
#next-btn:visited{
    background-color:grey;
}
#next-btn:hover{
    background-color: rgb(74, 69, 69);
}
#next-btn:Active{
    background-color:grey;
}
.correct{
    background-color: #9df3a0;
    color:black;
}
.incorrect{
    background-color: rgb(255, 97, 97);
    color:black;
}